name: pr

on:
  pull_request: # Triggered on pull request events
    branches: [ main ]

permissions: write-all

jobs:
  check_secret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for secret
        run: |
          if [ -z "${{ secrets.MY_SECRET }}" ]; then
            echo "Error: Secret MY_SECRET is empty!"
          fi
          echo "Secret found and not empty."
      - name: Call another workflow
        uses: ./wc.yml
